In [5]:
# import 
import numpy as np
import pandas as pd

# load dataset
X = pd.read_csv('titanic_data.csv')
X.head()

   pclass  survived     sex  age_b   class
0       1         1  female  Adult  211.34
1       1         1    male  Child  151.55
2       1         0  female  Child  151.55
3       1         0    male  Adult  151.55
4       1         0  female  Adult  151.55

In [6]:
X.dtypes

pclass        int64
survived      int64
sex          object
age_b        object
class       float64
dtype: object

In [7]:
# limit to categorical data using df.select_dtypes()
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
X_1 = X.select_dtypes(include=numerics)
X_1.head()

   pclass  survived   class
0       1         1  211.34
1       1         1  151.55
2       1         0  151.55
3       1         0  151.55
4       1         0  151.55

In [9]:
X_1.dtypes

pclass        int64
survived      int64
class       float64
dtype: object

In [58]:
# limit to categorical data using df.select_dtypes()
X_2 = X.select_dtypes(include=[object])
X_2.head()

      sex  age_b
0  female  Adult
1    male  Child
2  female  Child
3    male  Adult
4  female  Adult

In [59]:
# import preprocessing from sklearn
from sklearn import preprocessing

In [60]:
# view columns using df.columns
X_2.columns

Index(['sex', 'age_b'], dtype='object')

In [61]:
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()

# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
X_2 = X_2.apply(le.fit_transform)
X_2.head()

   sex  age_b
0    0      0
1    1      1
2    0      1
3    1      0
4    0      0

In [62]:
result = pd.concat([X_1,X_2],axis=1)
result.head()

   pclass  survived   class  sex  age_b
0       1         1  211.34    0      0
1       1         1  151.55    1      1
2       1         0  151.55    0      1
3       1         0  151.55    1      0
4       1         0  151.55    0      0