In [1]:
from sklearn.model_selection import KFold
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor

mlp = MLPRegressor(max_iter=1000)
knn =  KNeighborsRegressor(n_neighbors=5, n_jobs=-1)
kfold = KFold(n_splits=10, random_state=7)

In [2]:
import pandas as pd
data = pd.read_csv("automovil.csv")
#print(data.columns.values)
count = len(data.columns.values) - 1
string = data.columns.values[count]
data.rename(columns={string:'class'}, inplace=True)
data.describe().round(3)

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,class
count,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000,159.000
mean,0.736,121.132,98.264,172.414,65.608,53.899,2461.138,119.226,3.300,3.236,10.161,95.836,5113.836,26.522,32.082,11445.730
std,1.193,35.651,5.167,11.523,1.948,2.269,481.941,30.461,0.267,0.295,3.889,30.719,465.755,6.097,6.459,5877.856
min,-2.000,65.000,86.600,141.100,60.300,49.400,1488.000,61.000,2.540,2.070,7.000,48.000,4150.000,15.000,18.000,5118.000
25%,0.000,94.000,94.500,165.650,64.000,52.250,2065.500,97.000,3.050,3.105,8.700,69.000,4800.000,23.000,28.000,7372.000
50%,1.000,113.000,96.900,172.400,65.400,54.100,2340.000,110.000,3.270,3.270,9.000,88.000,5200.000,26.000,32.000,9233.000
75%,2.000,148.000,100.800,177.800,66.500,55.500,2809.500,135.000,3.560,3.410,9.400,114.000,5500.000,31.000,37.000,14719.500
max,3.000,256.000,115.600,202.600,71.700,59.800,4066.000,258.000,3.940,4.170,23.000,200.000,6600.000,49.000,54.000,35056.000

In [3]:
X = data.loc[:, data.columns != 'class']
y = data.loc[:, data.columns == 'class']
y.head()

   class
0  13950
1  17450
2  17710
3  23875
4  16430

In [3]:
from sklearn import preprocessing
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
X_1 = X.select_dtypes(include=numerics)
X_1.head()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg
0,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.4,10.0,102,5500,24,30
1,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.4,8.0,115,5500,18,22
2,1,158,105.8,192.7,71.4,55.7,2844,136,3.19,3.4,8.5,110,5500,19,25
3,1,158,105.8,192.7,71.4,55.9,3086,131,3.13,3.4,8.3,140,5500,17,20
4,2,192,101.2,176.8,64.8,54.3,2395,108,3.50,2.8,8.8,101,5800,23,29

In [4]:
X_2 = X.select_dtypes(include=[object])
X_2.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
1,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
2,audi,gas,std,four,sedan,fwd,front,ohc,five,mpfi
3,audi,gas,turbo,four,sedan,fwd,front,ohc,five,mpfi
4,bmw,gas,std,two,sedan,rwd,front,ohc,four,mpfi

In [5]:
le = preprocessing.LabelEncoder()
X_2 = X_2.apply(le.fit_transform)
X = pd.concat([X_1,X_2],axis=1)
X.dtypes

symboling               int64
 normalized_losses      int64
 wheel_base           float64
 length               float64
 width                float64
 height               float64
 curb_weight            int64
 engine_size            int64
 bore                 float64
 stroke               float64
 compression_ratio    float64
 horsepower             int64
 peak_rpm               int64
 city_mpg               int64
 highway_mpg            int64
 make                   int64
 fuel_type              int64
 aspiration             int64
 num_doors              int64
 body_style             int64
 drive_wheels           int64
 engine_location        int64
 engine_type            int64
 num_cylinders          int64
 fuel_system            int64
dtype: object

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.head()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,...,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
79,0,161,107.9,186.7,68.4,56.7,3075,120,3.46,2.19,...,10,1,0,0,3,2,0,1,2,4
59,1,128,94.5,165.3,63.8,54.5,1889,97,3.15,3.29,...,9,1,0,1,3,1,0,2,2,1
70,0,106,97.2,173.4,65.2,54.7,2302,120,3.33,3.47,...,9,1,0,0,3,1,0,2,2,1
128,2,134,98.4,176.2,65.6,52.0,2551,146,3.62,3.50,...,15,1,0,1,2,2,0,2,2,4
81,0,161,107.9,186.7,68.4,56.7,3075,120,3.46,3.19,...,10,1,0,0,3,2,0,1,2,4

In [55]:
from sklearn.preprocessing import StandardScaler, RobustScaler
robust_scaler = RobustScaler()
rs = robust_scaler.fit_transform(X_train)
rs

array([[-0.5       ,  0.83636364,  1.62686567, ..., -1.        ,
         0.        ,  0.66666667],
       [ 0.        ,  0.23636364, -0.37313433, ...,  0.        ,
         0.        , -0.33333333],
       [-0.5       , -0.16363636,  0.02985075, ...,  0.        ,
         0.        , -0.33333333],
       ...,
       [ 0.        , -0.50909091, -0.19402985, ...,  0.        ,
         0.        , -0.33333333],
       [-0.5       ,  1.4       ,  0.62686567, ...,  0.        ,
         0.        ,  0.66666667],
       [ 0.        , -0.14545455, -0.07462687, ...,  0.        ,
         0.        , -0.33333333]])

In [56]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10, svd_solver='randomized', whiten=True)
pa = pca.fit_transform(rs)
pa

array([[-0.41944197,  1.20995214, -1.40261971, ...,  2.56496156,
        -0.29593039,  0.21370551],
       [-0.17692557, -0.86904403, -0.08150228, ...,  0.21401938,
         0.53141136, -0.03421342],
       [-0.39435876, -0.06600993, -0.43738756, ..., -0.00496594,
         0.17826449, -0.21227514],
       ...,
       [-0.28087784, -1.04230572, -0.14377435, ..., -0.17654288,
         0.04319805,  0.95053742],
       [-0.3475232 ,  0.30977558, -0.28119176, ...,  1.99436235,
        -1.37869145, -0.04522732],
       [-0.2537773 , -0.20333618,  0.51109492, ..., -0.13657972,
        -0.09728457,  0.01185977]])

In [63]:
"""
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression,f_classif
kbest = SelectKBest(score_func=f_classif, k=10)
k = kbest.fit_transform(pa,y_train)
print(k)
"""
pa.shape
#y_train.shape

(119, 10)

In [65]:
from sklearn.model_selection import cross_val_score
m = cross_val_score(knn, pa, y_train, cv=kfold)

In [36]:
m.mean()

-9.5909752230436496

In [66]:
m

array([ 0.78408879,  0.39998792,  0.79287307,  0.59304781,  0.24748017,
        0.30020971,  0.69613567,  0.76256972,  0.50330295,  0.84210695])